body {
    background: #305285;
    display: block;
    margin: 10px;
    color: #041f70;
    font-family: 'Roboto', sans-serif;;
    font-size: 20px;
    font-weight: lighter;
    width: 100%;
}

#introduction {
  margin-top: 90px;
}

/*.images {
    background-image:url(https://picsum.photos/seed/picsum/100/100);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
}*/

li {
  display: flex;
  align-items: baseline;
  padding: inherit;
}

.nav {
  width: 104%;
}

.nav__ul {
  display: flex;
  justify-content: center;
  margin-top: -30px;
  background-color: lavender;
  border-radius: 10px;
}

.header {
  position: absolute;
  display: flex;
}


#name {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

h1 {
    color: #0b2685;
    font-size: 32px;
    font-weight: 900;
}

h2 {
    color: #12351a;
    font-size: 45px;
    font-weight: bold;
    font-weight: 500;
}

p {
  color: #19106d;
    font-size: 20px;
    font-weight: 900;
    text-align: justify;
}

a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #1a1a24;
    font-weight: 600;
    font-size: 15px;
}

.container {
    width: 700px;
    margin: 0px auto;
    padding: 15px 20px;

}

.btn-blue {
    background-color: #6B72E1;
    color: white;
    padding: 15px 20px;
    border-radius: 4px;
}

.list-inline {
    list-style: none;
    padding-left: 0px;
}

.list-inline li{
    display: inline-block;
    padding: 0px 20px;
}

/* .list-inline li i {
  font-size: 50px;
} */

.fab {
  font-size: 50px;
}

.card-white {
    background-color: white;
    padding: 40px;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
    border-radius: 10px;
    margin: 20px 0px;
    text-align: center;
}

div {
    display: block;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
