<!DOCTYPE html>
<html>

<head>
  <title>Jean-Baptiste Guelaud</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../style.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  </style>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <section>
    <div class="container">
      <div class="card-white" id="introduction">
        <!-- <h1>Hello, my name is Jean-Baptiste ! 😎</h1> -->
        <img src="../images/imagevscode.jpeg" width="200px" alt="Jean-Baptiste Guelaud">
        <p>
          As you can see my name is Jean-Baptiste Guelaud, i'm born in April 1997.
        </p>
        <a href="https://github.com/jbguelaud" class="btn-blue">Discover my profile here !</a>
      </div>
    </div>
  </section>
</body>

</html>
<!-- end of file -->
